*.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d10/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d11/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d3/data/sample2.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d11/data/sample2.txt filter=lfs diff=lfs merge=lfs -text
template/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2025/d1/data/testinput.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d4/data/testinput.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d6/data/testinput.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d7/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d2/data/testinput.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d3/data/aoc2023d3.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d3/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d4/data/aoc2024d4.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d13/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d1/data/aoc2024d1.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d5/data/sample2.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d7/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2020/d1/output.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d9/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2025/d1/data/input.txt filter=lfs diff=lfs merge=lfs -text
tmp/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d12/data/test1input.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d9/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d9/data/test-input.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d1/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d3/data/sample.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d6/data/tries.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d2/falsies1.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d4/data/boards.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d4/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d1/data/testinput.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d24/data/aoc2023d4.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d3/data/tries.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d4/data/sample.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d2/data/aoc2024d2.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d1/data/testinput.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d6/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d3/data/sample.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d7/data/tries.txt filter=lfs diff=lfs merge=lfs -text
vendor/modules.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d7/data/testinput.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d1/data/testinput2.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d2/data/tries.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d9/data/sample.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d11/data/test-input.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d12/data/test2input.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d1/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d5/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d5/data/testinput.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d3/data/sample2.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d7/data/sample.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d12/data/test3input.txt filter=lfs diff=lfs merge=lfs -text
aoc2025/d2/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d24/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d11/data/sample.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d2/data/sample.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d2/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d2/data/testinput.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d4/data/aoc2023d4.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d13/data/sample.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d6/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d10/data/testinput.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d2/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d1/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d8/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2025/d2/data/sample.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d3/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d4/data/calls.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d2/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d3/data/aoc2024d3.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d9/data/tries.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d3/data/test2.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d4/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d2/falsies2.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d5/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d5/data/sample.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d6/data/sample.txt filter=lfs diff=lfs merge=lfs -text
aoc2021/d3/data/testinput.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d24/data/sample.txt filter=lfs diff=lfs merge=lfs -text
aoc2023/d3/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d11/data/input.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d1/data/sample.txt filter=lfs diff=lfs merge=lfs -text
aoc2024/d9/data/sample0.txt filter=lfs diff=lfs merge=lfs -text
